{erl_opts, [
	{parse_transform, lager_transform}
]}.

{deps, [
    {pooler, ".*", {git, "https://github.com/seth/pooler.git", "master"}},
	{lager, ".*", {git, "git://github.com/basho/lager.git", {tag, "2.1.0"}}},
	{reloader, ".*", {git, "git://github.com/oinksoft/reloader.git", "master"}},
    {cowboy, ".*", {git, "git://github.com/ninenines/cowboy.git", {tag, "1.0.1"}}},
    {mysql, ".*", {git, "git://github.com/dizzyd/erlang-mysql-driver.git"}, "master"},
    {eflame, ".*", {git, "git://github.com/proger/eflame.git"}, "HEAD"}
]}.

{cover_enabled, true}.
